body {
  margin: 0 auto;
  max-width: 80em;
  font-family: "Times", "Serif";
  background-color: black;
}

.anedota {
  font-size: x-large;
  color: white;
}

.content {
  margin-top: 30%;
  text-align: center;
}

.next {
  cursor: pointer;
  color: white;
}
